<section class="content">
  <aside class="well well-small">
    <% contact = current_subject.contact_to!(actor) %>
    <%= link_to(image_tag(contact.receiver.logo.url(:small)), contact.receiver_subject) %>
  </aside>
  <div class="case">
    <nav class="first-line-mini">
      <%= link_to actor.name, actor.subject %>
      &nbsp;(<%= t 'follower.n', count: actor.follower_count %>)
    <%= render partial: 'friends/button_simple',
               locals: { contact: contact } %>
    </nav>
  </div>
</section>
