<section class="sub-content-medium">
  <h4>People You May Know</h4>

  <%= render partial: 'friends/suggestion',
             collection: Actor.suggested(current_subject).first(6),
             as: :actor %>
  <a href="<%= resources_path %>">Done</a>
</section>
