<section id="home">
  <%= render partial: 'toolbar/home' %>

  <%= render :partial => "friends/suggested",
             :locals => { section: :home,
                          owner: current_subject } %>
</section>
