<section id="frontpage">
  <%= render :partial => "layouts/explanation" %>
  <iframe width="280" height="160" src="//www.youtube.com/embed/P_u8TFzDpVo" frameborder="0" allowfullscreen></iframe>
  <%= render partial: 'frontpage/presentation' %>
  <%= render partial: 'devise/sessions/form' %>
</section>
