<section id="resources">
  <ul>
    <% @resources.each do |r| %>
      <li><span><%= r.name %></span><button><%= r.upvotes %></button><button><%= r.downvotes %></button></li>
    <% end %>
  </ul>
</section>
